<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/todo/css/base.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/todo/css/bootstrap.css') }}">
  <title>Cambiar Contraseña</title>
</head>
<body>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Cambiar Contraseña</h5>
        </div>
        <div class="card-body">
            {% if msg %}
            {% if msg == 'password updated' %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
            {% endif %}
            {% endif %}
          <form id="changePasswordForm" method="POST" onsubmit="return validateForm()" action="/user/change-password">
            <div class="form-group">
              <label for="username">Nombre de Usuario</label>
              <input type="text" class="form-control" name="username" id="username" placeholder="Ingrese su nombre de usuario" required value="{{username}}">
            </div>
            <div class="form-group">
              <label for="currentPassword">Contraseña Actual</label>
              <input type="password" class="form-control" name="current_password" id="currentPassword" placeholder="Ingrese su contraseña actual" required>
            </div>
            <div class="form-group">
              <label for="newPassword">Nueva Contraseña</label>
              <input type="password" class="form-control" name="new_password" id="newPassword" placeholder="Ingrese su nueva contraseña" required oninput="validatePassword()">
              <span id="passwordStrengthError" style="color: red; display: none;">La contraseña no es lo suficientemente segura.</span>
              <span id="passwordStrengthSuccess" style="color: green; display: none;">¡La contraseña es segura!</span>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirmar Nueva Contraseña</label>
              <input type="password" class="form-control" name="new_password_confirm" id="confirmPassword" placeholder="Confirme su nueva contraseña" oninput="validatePassword()">
              <span id="passwordError" style="color: red; display: none;">Las contraseñas no coinciden.</span>
            </div>
            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', path='/todo/js/jquery-slim.js') }}"></script>
<script src="{{ url_for('static', path='/todo/js/popper.js') }}"></script>
<script src="{{ url_for('static', path='/todo/js/bootstrap.js') }}"></script>

<script>
  function validateForm() {
    var newPassword = document.getElementById('newPassword').value;
    var confirmPassword = document.getElementById('confirmPassword').value;
    var passwordStrengthError = document.getElementById('passwordStrengthError');
    var passwordStrengthSuccess = document.getElementById('passwordStrengthSuccess');
    var passwordError = document.getElementById('passwordError');

    if (newPassword !== confirmPassword) {
      passwordError.style.display = 'block';
      passwordStrengthError.style.display = 'none';
      passwordStrengthSuccess.style.display = 'none';
      return false;
    }

    // Validar la fortaleza de la contraseña
    if (!isStrongPassword(newPassword)) {
      passwordStrengthError.style.display = 'block';
      passwordStrengthSuccess.style.display = 'none';
      passwordError.style.display = 'none';
      return false;
    }

    passwordError.style.display = 'none';
    passwordStrengthError.style.display = 'none';
    passwordStrengthSuccess.style.display = 'block';
    return true;
  }

  function validatePassword() {
    var newPassword = document.getElementById('newPassword').value;
    var passwordStrengthError = document.getElementById('passwordStrengthError');
    var passwordStrengthSuccess = document.getElementById('passwordStrengthSuccess');

    // Validar la fortaleza de la contraseña
    if (!isStrongPassword(newPassword)) {
      passwordStrengthError.style.display = 'block';
      passwordStrengthSuccess.style.display = 'none';
    } else {
      passwordStrengthError.style.display = 'none';
      passwordStrengthSuccess.style.display = 'block';
    }
  }

  function isStrongPassword(password) {
    // Reglas de fortaleza de contraseña:
    // Al menos 8 caracteres, una letra mayúscula, una letra minúscula, un número y un carácter especial
    var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()-_=+[\]{}|;:'",.<>?/]).{8,}$/;
    return regex.test(password);
  }
</script>

</body>
</html>
